In [208]:
import pandas as pd
import numpy as np

In [209]:
data= pd.read_csv("./OSA dataset - Sheet1.csv")

In [210]:
data.head()

   Palprebal fissure width   OSA
0                     0.40  1.02
1                     0.42  1.21
2                     0.48  0.88
3                     0.51  0.98
4                     0.57  1.52

In [211]:
data=data.sample(frac=1)
data.head()

    Palprebal fissure width   OSA
22                     1.37  3.99
10                     0.84  2.00
9                      0.78  1.63
1                      0.42  1.21
2                      0.48  0.88

In [212]:
data_train=data[:24]
data_test=data[24:]
data_test.head()

    Palprebal fissure width   OSA
14                     1.12  3.05
20                     1.30  4.27
8                      0.75  1.74
5                      0.60  1.83
25                     1.46  4.18

In [213]:
x_mean=data_train["Palprebal fissure width"].mean()
y_mean=data_train["OSA"].mean()
print("The mean of palprebal fissure width is: {}".format(x_mean))
print("The mean of OSA is: {}".format(y_mean))

The mean of palprebal fissure width is: 1.0366666666666668
The mean of OSA is: 2.7516666666666665

In [214]:
numerator=0
for i in range (24):
    numerator=(data["Palprebal fissure width"][i]-x_mean)*(data["OSA"][i]-y_mean)

print("The value of numerator part in calculating b1 is: {}".format(numerator))

The value of numerator part in calculating b1 is: 0.3627277777777776

In [215]:
denominator=0
for i in range (27):
    denominator=(data["Palprebal fissure width"][i]-x_mean)**2
print("The denominator value in calculating b1 is: {}".format(denominator))

The denominator value in calculating b1 is: 0.20551111111111095

In [216]:
b1=numerator/denominator
print("The value of b1 is: {}".format(b1))

The value of b1 is: 1.7650032439446373

In [217]:
b0=y_mean-(b1*x_mean)
print("The value of b0 is: {}".format(b0))
print("The linear equation would be: y={}+{}.x".format(b0,b1))

The value of b0 is: 0.9219466371107254
The linear equation would be: y=0.9219466371107254+1.7650032439446373.x

In [218]:
result=[]
def predictY(x):
    for i in range(len(x)):
        result.append(b0+(b1*x[i]))
        
    return result

In [219]:
x=data_test["Palprebal fissure width"]
x=np.asarray(x)
print(x)
y=data_test["OSA"]
y=np.asarray(y)
print(y)

[1.12 1.3  0.75 0.6  1.46 1.43]
[3.05 4.27 1.74 1.83 4.18 4.1 ]

In [220]:
test_result=predictY(x)
print(test_result)

[2.898750270328719, 3.2164508542387535, 2.2456990700692034, 1.9809485834775078, 3.498851373269896, 3.445901275951557]

In [221]:
def TSS(x):
    for i in range(len(x)):
        TSS=(x[i]-y_mean)**2 
    return TSS

In [222]:
def mse(x,result):
    for i in range(len(x)):
        MSE=((x[i]-result[i])**2)
    print("The Mean Squared Error is: {}".format(MSE/len(x)))

def mae(x,result):
    for i in range(len(x)):
        MAE=(x[i]-result[i])
    print("The Mean Absolute Error is: {}".format(MAE/len(x)))

def r2(x,result,TSS):
    for i in range(len(x)):
        r2= ((x[i]-result[i])**2)
        r2=r2/TSS
    print("The R2 score is: {}".format(r2))

In [223]:
 #MSE, MAE, R2 for the TEST set
 TSS_train=TSS(yy)
 TSS_test=TSS(y)

In [224]:
print(mse(y,test_result))
print(mae(y,test_result))
print(r2(y,test_result,TSS_test))

The Mean Squared Error is: 0.07130752346696682
None
The Mean Absolute Error is: 0.1090164540080738
None
The R2 score is: 0.235338001696991
None

In [225]:
xx=data_train["Palprebal fissure width"]
xx=np.asarray(xx)
train_result=predictY(xx)
yy=data_train["OSA"]
yy=np.asarray(yy)

In [226]:
print(mse(yy,train_result))
print(mae(yy,train_result))
print(r2(yy,train_result,TSS_train))

The Mean Squared Error is: 0.0551712849331397
None
The Mean Absolute Error is: 0.04794583964100348
None
The R2 score is: 0.5743678034684351
None